<section id="programmeur" class="carte">
    <h2>Le Programmeur Web</h2>
    <div class="carte-int">
        <p>Dans le cadre de mon parcours professionnel, j'utilise divers langages de programmation qui me permettent de créer des solutions web efficaces et adaptées aux besoins des utilisateurs. Mes compétences incluent HTML5, CSS3, SASS, Bootstrap, PHP8 et MySQL. Grâce à ces technologies, je peux concevoir des interfaces intuitives et dynamiques tout en assurant une gestion performante des données.</p>

        <p>Actuellement, je suis en formation au Cégep de Trois-Rivières en programmation Front-End, ce qui me permet d'améliorer continuellement mes compétences en codage. En parallèle, je suis en train d'apprendre JavaScript et React. Ce dernier est un peu plus complexe que je ne l'avais anticipé, mais je fais des progrès réguliers et je commence à me familiariser avec ses concepts fondamentaux.</p>

        <p>Ma spécialité réside dans la gestion de bases de données. Je m'efforce d'utiliser plusieurs langages de programmation pour exécuter des requêtes et obtenir des résultats qui sont ensuite affichés de manière simple et accessible. Cette approche me permet de garantir une expérience utilisateur fluide et agréable.</p>

        <p>Voici quelques-uns de mes projets récents :</p>
    </div>
    <div class="conteneur-grid">
        <div class="col-80 carte-int">
            <img src="https://odinn.ca/medias/logos/Compagnies/ssiSenneterre.webp" class="top-logo" alt="Logo du SSI de Senneterre">
            <ul class="no-bullets">
                <li>Formulaire d'inspection des véhicules et APRIAs.</li>
                <li>Affichage des données recueillient en format imprimable.</li>
                <li>Cédule de garde pour les pompiers et pompières.</li>
                <li>Possibilité au gestionnaire d'envoyer des messages au groupe ou a une personne en privé.</li>
            </ul>

            <nav>
                <ul>
                    <li><a class="btn" href="https://ssisenneterre.odinn.ca" target="_blank">SSI de Senneterre</a></li>
                </ul>
            </nav>

        </div>
        <div class="col-80 carte-int">
            <img src="https://odinn.ca/medias/logos/Compagnies/resolu.webp" class="top-logo" alt="Logo du R&eacute;solu de Senneterre">
            <ul class="no-bullets">
                <li>Suivie des commandes wagons</li>
                <li>Prise de photographies pour validation</li>
                <li>Registre d'inspections des wagons</li>
            </ul>

            <nav>
                <ul>
                    <li><a class="btn" href="https://resolusenneterre.odinn.ca/" target="_blank">R&eacute;solu PF de
                            Senneterre</a></li>
                </ul>
            </nav>

        </div>
        <div class="col-80 carte-int">
            <img src="https://odinn.ca/medias/outils/bdd.webp" class="top-logo" alt="Base de données">
            <h2>Votre projet</h2>
            <p>Vous avez un projet de base de donn&eacute;es et vous ne savez pas comment le r&eacute;aliser, contactez-moi et ensemble on le feras se concr&eacute;tiser.</p>

            <nav>
                <ul>
                    <li><a class="btn" href="./#joindre" target="_blank">Formulaire de contact</a></li>
                </ul>
            </nav>

        </div>
    </div>
</section>