<header>
      <div class="conteneur-grid">
            <div class="div-logo">
                  <img src="https://odinn.ca/medias/logo.webp" alt="" class="logo">
            </div>
            <div class="div-titre">
                  <h1>Óðinn</h1>
                  <h3>Un bizarre du Québec</h3>
            </div>
            <div>
                  <nav>
                        <ul>
                              <li><a href="https://odinn.ca/#programmeur" class="btn">Le Programmeur Web</a></li>
                              <li><a href="https://odinn.ca/#serveurs" class="btn">Mes Serveurs de Jeu</a></li>
                              <li><a href="https://odinn.ca/#bdd" class="btn">Mes Bases de Donn&eacute;es</a></li>
                              <li><a href="https://odinn.ca/#photographies" class="btn">Mes Photographies</a></li>
                              <li><a href="https://odinn.ca/#joindre" class="btn">Me Contacter</a></li>
                        </ul>
                  </nav>
            </div>
      </div>
</header>