
<footer>
      <div class="conteneur-flex">
            <div class="texte-centre">
                  <h2>Óðinn</h2>
                  <p>Un bizarre du Qu&eacute;bec</p>
            </div>
      </div>

      <div class="conteneur-flex">
            <div class="col-33 texte-gauche">
                  <p>&copy; 2020 - <script>
                    {{new Date().toLocaleString('fr-FR')}}
                </script> Fait par Lucas Comtois<br>
                        Dernière mise-à-jour : 2024-10-13
                  </p>
            </div>
            <div class="col-33 texte-centre">
                  <p>
                        <a href="https://www.facebook.com/odinn.qc/" target="_blank"><img
                                    src="https://odinn.ca/medias/logos/reseaux_sociaux/facebook.png"
                                    alt="Lien vers facebook"></a>
                        <a href="https://github.com/lucascomt/" target="_blank"><img
                                    src="https://odinn.ca/medias/logos/reseaux_sociaux/github.png"
                                    alt="Lien vers GitHub"></a>
                        <a href="https://www.instagram.com/odinnqc/" target="_blank"><img
                                    src="https://odinn.ca/medias/logos/reseaux_sociaux/instagram.png"
                                    alt="Lien vers instagram"></a>
                        <a href="https://www.youtube.com/channel/UCeEX6ECRqfG0iOl-1wt4KyQ" target="_blank"><img
                                    src="https://odinn.ca/medias/logos/reseaux_sociaux/youtube-blanc.png"
                                    alt="Lien vers YouTube"></a>
                        <a href="https://www.linkedin.com/in/lucas-comtois/" target="_blank"><img
                                    src="https://odinn.ca/medias/logos/reseaux_sociaux/linkedin.png"
                                    alt="Lien vers Linkedin"></a>
                  </p>
            </div>
            <div class="col-33 texte-droite">
                  <p>Courriel: <a href="mailto:lucas@odinn.biz">lucas&#64;odinn.biz</a></p>
            </div>
      </div>
</footer>
