<section id="bdd" class="carte">
    <h2>Mes Bases de Donn&eacute;es</h2>
    <div class="carte-int">
        <p>J'ai commencé à créer mes propres bases de données pour pratiquer. La première, dédiée à la faune, allie mes passions : programmation, photographie et nature. C'était indispensable pour développer mes compétences et approfondir mes intérêts.</p>
        <nav>
            <ul>
                <li><a class="btn" href="bdd.php?p=faune">Faune du Québec</a></li>
            </ul>
        </nav>
    </div>
</section>
