<section id="qui" class="carte">
    <h2>Qui suis-je ?</h2>
    <div class="carte-int">
    <p class="card-text">Je m'appelle Lucas Comtois. Actuellement, je travaille chez Résolu, une scierie située à Senneterre, où j'occupe le poste d'opérateur de séchoirs à bois. À 49 ans, je suis également grand-père, et je me sens toujours en pleine forme, prêt à relever de nouveaux défis.</p>
    <p>Dans mes temps libres, j’aime me plonger dans des jeux sur PC, particulièrement ceux qui me permettent de construire et de gérer mon propre domaine, surtout dans un cadre spatial. Mon jeu préféré en ce moment est Empyrion, un jeu de survie où l'on se lance dans des combats spatiaux tout en s’adonnant à des activités de commerce. C’est une expérience immersive qui me passionne.</p>

    <p>La photographie a également occupé une place importante dans ma vie. J'avais dû mettre cette passion de côté par manque de temps, mais récemment, je me suis rééquipé et je recommence à explorer cet art. Même si je ne travaille plus en forêt, ce qui complique un peu l'observation des animaux sauvages, je suis chanceux d'habiter en Abitibi, une région riche en faune.</p>

    <p>La nature reste mon refuge. Passer du temps en forêt est pour moi une source de sérénité, loin des tracas quotidiens. De plus, je suis devenu propriétaire d'une petite parcelle de terre que j’aimerais transformer pour devenir auto-suffisant sur le plan alimentaire pour ma famille et moi. Ce projet me tient particulièrement à cœur.</p>

    <p>Enfin, je suis quelqu'un qui préfère les interactions simples et authentiques. Bien que je ne recherche pas la vie sociale trépidante, j’aime apprendre de nouvelles choses utiles et partager mes connaissances avec les autres. Pour moi, chaque jour est une occasion d’enrichir mon savoir et d'apporter quelque chose de positif dans ma vie et celle des gens qui m'entourent.</p>
</div>
</section>