<section id="serveurs" class="carte">
    <h2>Mes Serveurs de Jeu</h2>
    <div class="carte-int">
        <p>Les serveurs de jeux du petit monde d'Óðinn ont été lancés initialement pour les amis et la famille, mais ils accueillent, aussi, chaleureusement tous les passionnés.</p>
    </div>
    <div class="conteneur-grid">
        <div class="col-80 carte-int">
            <img src="https://odinn.ca/medias/logos/Jeux/top-arkse-logo.webp" class="top-image" alt="Logo du jeu Ark">
            <p>Ark: 8 cartes à visiter et des centaines d'espèces à dompter. Vous pouvez voyager d'une carte à l'autre et y découvrir toutes sortes d'animaux, certains étranges et d'autres mignons mais rester sur vos gardes, certains sont très agressifs. Voyons si vous avez le caractère pour être un bon dresseur.</p>
            <p>Fjordur, Génésis, Génésis 2, Aberation, Ragnarok, The Center, Extinction et Scorched Earth</p>
            <nav>
                <ul>
                    <li><a class="btn" href="https://odinn.ca/serveur.php?p=ark">Voir la page du serveur</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-80 carte-int">
            <img src="https://odinn.ca/medias/logos/Jeux/top-empyrion-logo.webp" class="top-image" alt="Logo du jeu Empyrion">
            <p>Empyrion: Explorer, développer un empire ou devenir constructeur navale, votre limite c'est vous-même. Des centaines de systèmes et des milliers de planètes à explorer ou y construire vos colonies et vos véhicules. Des combats spaciaux et du commerce avec d'autres civilisations, tous les moyens sont bons pour faire fortune.</p>
            <nav>
                <ul>
                    <li><a class="btn" href="https://odinn.ca/serveur.php?p=empyrion">Voir la page du serveur</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-80 carte-int">
            <img src="https://odinn.ca/medias/logos/Jeux/top-valheim-logo.webp" class="top-image" alt="Logo du jeu Valheim">
            <p>Valheim: Découvrez notre serveur, où l'aventure viking vous attend à chaque tournant. Partagez des quêtes épiques, construisez des bastions robustes et explorez des terres mystérieuses. Rejoignez une communauté chaleureuse où la coopération et l'exploration sont au cœur de chaque bataille et chaque découverte.</p>
            <nav>
                <ul>
                    <li><a class="btn" href="https://odinn.ca/serveur.php?p=valheim">Voir la page du serveur</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-80 carte-int">
            <img src="https://odinn.ca/medias/logos/Jeux/top-minecraft-logo.webp" class="top-image" alt="Logo du jeu Minecraft">
            <p>Minecraft: Rejoignez notre serveur familial, un monde où l'imagination rencontre l'aventure. Explorez des contrées fantastiques, construisez ensemble des villes majestueuses et affrontez des monstres redoutables. Notre communauté accueillante offre un espace sûr pour tous les âges, favorisant la créativité et l'amitié à chaque connexion.</p>
            <nav>
                <ul>
                    <li><a class="btn" href="https://odinn.ca/serveur.php?p=minecraft">Voir la page du serveur</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
