<section id="photographies" class="carte">
    <h2>Mes Photographies</h2>
    <div class="carte-int">
        <p>Pour moi, rien n'égale la beauté de la nature. Capturer un instant parfait en photo est une récompense incomparable, un instant figé qui témoigne de l'émerveillement que je ressens face à la splendeur du monde qui nous entoure.</p>
        <nav>
            <ul>
                <li><a class="btn" href="photo.php?p=faune">Faune</a></li>
                <li><a class="btn" href="photo.php?p=paysages">Paysages</a></li>
            </ul>
        </nav>
    </div>
</section>